<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="https://tse1.mm.bing.net/th?id=OIG3.sZ74CFJesyoh4IT684ui&pid=ImgGn" alt="FinanCiel logo" class="d-inline-block align-top">
      FinanCiel
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/">Pricing</a></li>
      </ul>
      <div class="ms-2">
        <a routerLink="/login" class="btn btn-outline-light me-2">Login</a>
        <a routerLink="/" class="btn btn-primary">Get Started</a>
      </div>
    </div>
  </div>
</nav>
