<!--<div class="d-flex justify-content-between align-items-center">-->
<!--  <div class="d-flex align-items-center">-->
<!--    <div>-->
<!--      <h6 class="mb-0">{operation.name}</h6>-->
<!--      <small class="text-muted">{operation.category.name}</small>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="text-end">-->
<!--    <h6 class={`mb-0 ${isIncome ? 'text-success' : 'text-danger'}`}>-->
<!--    {isIncome ? '+' : '-'}${operation.amount}-->
<!--    </h6>-->
<!--    <small class="text-muted d-flex align-items-center justify-content-end">-->
<!--      <Calendar size={14} class="me-1" />-->
<!--      {new Date(operation.datetime).toLocaleString()}-->
<!--    </small>-->
<!--  </div>-->
<!--</div>-->
