<div class="bg-dark text-light">
<div class="bg-black py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold mb-3">Transform Your Financial Future with Our Budget Tracker.</h1>
        <p class="lead mb-4">With our user-friendly platform, you can easily track your income and expenses, set budgets, and create a plan to achieve your financial goals.</p>
        <form class="mb-3">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="youremail@gmail.com">
            <button class="btn btn-primary" type="submit">Get Started</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <img src="https://images.unsplash.com/photo-1639754391037-98dd3cb74e09?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="App screenshot" class="img-fluid rounded">
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">

    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-light">
        <div class="card-body">
          <h5 class="card-title">Dashboard</h5>
          <img src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?q=80&w=2426&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Bar chart" class="img-fluid rounded">
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-light">
        <div class="card-body">
          <h5 class="card-title">Statistic</h5>
          <img src="https://images.unsplash.com/photo-1707761918029-1295034aa31e?q=80&w=3073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Bar chart" class="img-fluid rounded">
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-light">
        <div class="card-body">
          <h5 class="card-title">Statistic</h5>
          <img src="https://images.unsplash.com/photo-1639754390580-2e7437267698?q=80&w=3241&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Bar chart" class="img-fluid rounded">
        </div>
      </div>
    </div>
  </div>
</div>
</div>

